<!DOCTYPE html>
<html>
<head>
  <title>StackClone</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Megrim' rel='stylesheet' type='text/css'>
</head>
<body>
 <div class="container">
    <div class="row">

      <div class= "col-md-3 navigation">
        <% if user_signed_in? %>
          Logged in as <strong><%= current_user.name %></strong>.
          <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to "Log In", new_user_session_path %> |
          <%= link_to "Sign Up", new_user_registration_path %>
        <% end %>
        <%= yield(:navigation) %>
      </div>

      <div class= "col-md-9 body_col">

        <div class="row">
          <div class="header">
            <%= yield(:header) %>
          </div>
          <div class="notices">
            <%= flash[:notice] %>
            <%= flash[:alert] %>
          </div>
          <div class="content">
            <%= yield %>
          </div>
        </div>
      </div>

    </div>
  </div>
</body>
</html>
